In [29]:
import util
from ast import literal_eval

In [30]:
path = './patterns'
name = 'Results_ps_f_spmf_t_175761_.txt'
path_res='%s/%s' % (path, name)

In [31]:
df_patterns = util.resultsTopatterns(path_res)

In [32]:
df_patterns

    IS1  IS2  IS3  IS4  IS5 IS6 IS7    supp     %supp
0    C1  C10   C1   C1               176245  0.802204
1    C1   C1  C10   C1               176354  0.802700
2   C10   C1   C1   C1               176457  0.803169
3    C1   C1   C1  C10               176587  0.803761
4    C1   C3                         177505  0.807939
5    C3   C1                         177664  0.808663
6   C10  C10                         177794  0.809254
7   C12   C1   C1  C12               177804  0.809300
8    C1  C12   C1  C12               177829  0.809414
9   C12   C1  C12   C1               177964  0.810028
10   C1   C1  C12  C12               178167  0.810952
11   C1  C12  C12   C1               178185  0.811034
12  C12  C12   C1   C1               178306  0.811585
13   C1  C12   C1   C1   C1          178810  0.813879
14   C1   C1  C12   C1   C1          178901  0.814293
15   C1   C1   C1  C12   C1          179041  0.814930
16  C12   C1   C1   C1   C1          179068  0.815053
17   C1   C1   C1   C1   C1  C1  C1  179117  0.815276
18   C1   C1   C1   C1  C12          179407  0.816596
19  C12  C10                         180356  0.820916
20  C10  C12                         180513  0.821630
21   C1  C10   C1                    181335  0.825372
22  C10   C1   C1                    181429  0.825800
23   C1   C1  C10                    181454  0.825913
24  C12  C12  C12                    181548  0.826341
25   C1   C1   C1   C1   C1  C1      183397  0.834757
26   C1  C12   C1   C1               184011  0.837552
27   C1   C1  C12   C1               184102  0.837966
28  C12   C1   C1   C1               184149  0.838180
29  C12   C1  C12                    184149  0.838180
30   C1  C12  C12                    184324  0.838977
31   C1   C1   C1  C12               184416  0.839395
32   C3                              184440  0.839505
33  C12  C12   C1                    184745  0.840893
34   C1  C10                         186836  0.850410
35  C10   C1                         187009  0.851198
36   C1   C1   C1   C1   C1          187861  0.855076
37   C1  C12   C1                    189650  0.863219
38  C12   C1   C1                    189683  0.863369
39   C1   C1  C12                    189834  0.864056
40   C1   C1   C1   C1               192460  0.876009
41  C12  C12                         192842  0.877747
42  C10                              193969  0.882877
43   C1  C12                         195880  0.891575
44  C12   C1                         195976  0.892012
45   C1   C1   C1                    197361  0.898316
46   C1   C1                         202649  0.922385
47  C12                              204486  0.930747
48   C1                              208918  0.950920

In [33]:
#df_patterns.to_csv("Results_ps_spmf.csv",sep=',', index=False)

In [34]:
df_patterns_1 = util.extractPatterns(path_res)

In [35]:
df_patterns_1

                        patterns    supp     %supp
0              [C1, C10, C1, C1]  176245  0.802204
1              [C1, C1, C10, C1]  176354  0.802700
2              [C10, C1, C1, C1]  176457  0.803169
3              [C1, C1, C1, C10]  176587  0.803761
4                       [C1, C3]  177505  0.807939
5                       [C3, C1]  177664  0.808663
6                     [C10, C10]  177794  0.809254
7             [C12, C1, C1, C12]  177804  0.809300
8             [C1, C12, C1, C12]  177829  0.809414
9             [C12, C1, C12, C1]  177964  0.810028
10            [C1, C1, C12, C12]  178167  0.810952
11            [C1, C12, C12, C1]  178185  0.811034
12            [C12, C12, C1, C1]  178306  0.811585
13         [C1, C12, C1, C1, C1]  178810  0.813879
14         [C1, C1, C12, C1, C1]  178901  0.814293
15         [C1, C1, C1, C12, C1]  179041  0.814930
16         [C12, C1, C1, C1, C1]  179068  0.815053
17  [C1, C1, C1, C1, C1, C1, C1]  179117  0.815276
18         [C1, C1, C1, C1, C12]  179407  0.816596
19                    [C12, C10]  180356  0.820916
20                    [C10, C12]  180513  0.821630
21                 [C1, C10, C1]  181335  0.825372
22                 [C10, C1, C1]  181429  0.825800
23                 [C1, C1, C10]  181454  0.825913
24               [C12, C12, C12]  181548  0.826341
25      [C1, C1, C1, C1, C1, C1]  183397  0.834757
26             [C1, C12, C1, C1]  184011  0.837552
27             [C1, C1, C12, C1]  184102  0.837966
28             [C12, C1, C1, C1]  184149  0.838180
29                [C12, C1, C12]  184149  0.838180
30                [C1, C12, C12]  184324  0.838977
31             [C1, C1, C1, C12]  184416  0.839395
32                          [C3]  184440  0.839505
33                [C12, C12, C1]  184745  0.840893
34                     [C1, C10]  186836  0.850410
35                     [C10, C1]  187009  0.851198
36          [C1, C1, C1, C1, C1]  187861  0.855076
37                 [C1, C12, C1]  189650  0.863219
38                 [C12, C1, C1]  189683  0.863369
39                 [C1, C1, C12]  189834  0.864056
40              [C1, C1, C1, C1]  192460  0.876009
41                    [C12, C12]  192842  0.877747
42                         [C10]  193969  0.882877
43                     [C1, C12]  195880  0.891575
44                     [C12, C1]  195976  0.892012
45                  [C1, C1, C1]  197361  0.898316
46                      [C1, C1]  202649  0.922385
47                         [C12]  204486  0.930747
48                          [C1]  208918  0.950920

In [36]:
df_patterns_1['patterns'] = df_patterns_1.patterns.apply(lambda x: literal_eval(str(x)))

In [37]:
df_patterns_1['len'] = df_patterns_1['patterns'].str.len()

In [38]:
df_patterns_1

                        patterns    supp     %supp  len
0              [C1, C10, C1, C1]  176245  0.802204    4
1              [C1, C1, C10, C1]  176354  0.802700    4
2              [C10, C1, C1, C1]  176457  0.803169    4
3              [C1, C1, C1, C10]  176587  0.803761    4
4                       [C1, C3]  177505  0.807939    2
5                       [C3, C1]  177664  0.808663    2
6                     [C10, C10]  177794  0.809254    2
7             [C12, C1, C1, C12]  177804  0.809300    4
8             [C1, C12, C1, C12]  177829  0.809414    4
9             [C12, C1, C12, C1]  177964  0.810028    4
10            [C1, C1, C12, C12]  178167  0.810952    4
11            [C1, C12, C12, C1]  178185  0.811034    4
12            [C12, C12, C1, C1]  178306  0.811585    4
13         [C1, C12, C1, C1, C1]  178810  0.813879    5
14         [C1, C1, C12, C1, C1]  178901  0.814293    5
15         [C1, C1, C1, C12, C1]  179041  0.814930    5
16         [C12, C1, C1, C1, C1]  179068  0.815053    5
17  [C1, C1, C1, C1, C1, C1, C1]  179117  0.815276    7
18         [C1, C1, C1, C1, C12]  179407  0.816596    5
19                    [C12, C10]  180356  0.820916    2
20                    [C10, C12]  180513  0.821630    2
21                 [C1, C10, C1]  181335  0.825372    3
22                 [C10, C1, C1]  181429  0.825800    3
23                 [C1, C1, C10]  181454  0.825913    3
24               [C12, C12, C12]  181548  0.826341    3
25      [C1, C1, C1, C1, C1, C1]  183397  0.834757    6
26             [C1, C12, C1, C1]  184011  0.837552    4
27             [C1, C1, C12, C1]  184102  0.837966    4
28             [C12, C1, C1, C1]  184149  0.838180    4
29                [C12, C1, C12]  184149  0.838180    3
30                [C1, C12, C12]  184324  0.838977    3
31             [C1, C1, C1, C12]  184416  0.839395    4
32                          [C3]  184440  0.839505    1
33                [C12, C12, C1]  184745  0.840893    3
34                     [C1, C10]  186836  0.850410    2
35                     [C10, C1]  187009  0.851198    2
36          [C1, C1, C1, C1, C1]  187861  0.855076    5
37                 [C1, C12, C1]  189650  0.863219    3
38                 [C12, C1, C1]  189683  0.863369    3
39                 [C1, C1, C12]  189834  0.864056    3
40              [C1, C1, C1, C1]  192460  0.876009    4
41                    [C12, C12]  192842  0.877747    2
42                         [C10]  193969  0.882877    1
43                     [C1, C12]  195880  0.891575    2
44                     [C12, C1]  195976  0.892012    2
45                  [C1, C1, C1]  197361  0.898316    3
46                      [C1, C1]  202649  0.922385    2
47                         [C12]  204486  0.930747    1
48                          [C1]  208918  0.950920    1

In [39]:
patt_list = df_patterns_1.values.tolist()

In [40]:
sizes = {}
for patt in patt_list:
    if patt[3] in sizes.keys():
        sizes[patt[3]].append([patt[0], patt[1], patt[2]])
    else:
        sizes[patt[3]] = [[patt[0], patt[1], patt[2]]]

In [41]:
sizes

{4: [[['C1', 'C10', 'C1', 'C1'], 176245, 0.80220390439734],
  [['C1', 'C1', 'C10', 'C1'], 176354, 0.8027000332269767],
  [['C10', 'C1', 'C1', 'C1'], 176457, 0.8031688522127801],
  [['C1', 'C1', 'C1', 'C10'], 176587, 0.803760565495833],
  [['C12', 'C1', 'C1', 'C12'], 177804, 0.8092999121533356],
  [['C1', 'C12', 'C1', 'C12'], 177829, 0.8094137031693074],
  [['C12', 'C1', 'C12', 'C1'], 177964, 0.8100281746555545],
  [['C1', 'C1', 'C12', 'C12'], 178167, 0.8109521577052449],
  [['C1', 'C12', 'C12', 'C1'], 178185, 0.8110340872367445],
  [['C12', 'C12', 'C1', 'C1'], 178306, 0.8115848357540475],
  [['C1', 'C12', 'C1', 'C1'], 184011, 0.8375519455987911],
  [['C1', 'C1', 'C12', 'C1'], 184102, 0.8379661448969281],
  [['C12', 'C1', 'C1', 'C1'], 184149, 0.8381800720069549],
  [['C1', 'C1', 'C1', 'C12'], 184416, 0.8393953600575328],
  [['C1', 'C1', 'C1', 'C1'], 192460, 0.8760087573565892]],
 2: [[['C1', 'C3'], 177505, 0.8079389716023141],
  [['C3', 'C1'], 177664, 0.8086626824638941],
  [['C10', 'C10'], 177794, 0.809254395746947],
  [['C12', 'C10'], 180356, 0.8209156990637275],
  [['C10', 'C12'], 180513, 0.8216303066440298],
  [['C1', 'C10'], 186836, 0.8504103304035939],
  [['C10', 'C1'], 187009, 0.8511977642341182],
  [['C12', 'C12'], 192842, 0.8777474840806369],
  [['C1', 'C12'], 195880, 0.8915753683415187],
  [['C12', 'C1'], 195976, 0.8920123258428501],
  [['C1', 'C1'], 202649, 0.9223854238260181]],
 5: [[['C1', 'C12', 'C1', 'C1', 'C1'], 178810, 0.8138788626360371],
  [['C1', 'C1', 'C12', 'C1', 'C1'], 178901, 0.8142930619341742],
  [['C1', 'C1', 'C1', 'C12', 'C1'], 179041, 0.8149302916236157],
  [['C12', 'C1', 'C1', 'C1', 'C1'], 179068, 0.8150531859208652],
  [['C1', 'C1', 'C1', 'C1', 'C12'], 179407, 0.8165961920974415],
  [['C1', 'C1', 'C1', 'C1', 'C1'], 187861, 0.8550757620584339]],
 7: [[['C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1'], 179117, 0.8152762163121697]],
 3: [[['C1', 'C10', 'C1'], 181335, 0.8253717552491796],
  [['C10', 'C1', 'C1'], 181429, 0.8257996094692331],
  [['C1', 'C1', 'C10'], 181454, 0.8259134004852049],
  [['C12', 'C12', 'C12'], 181548, 0.8263412547052585],
  [['C12', 'C1', 'C12'], 184149, 0.8381800720069549],
  [['C1', 'C12', 'C12'], 184324, 0.8389766091187568],
  [['C12', 'C12', 'C1'], 184745, 0.8408928498277204],
  [['C1', 'C12', 'C1'], 189650, 0.8632186471613693],
  [['C12', 'C1', 'C1'], 189683, 0.863368851302452],
  [['C1', 'C1', 'C12'], 189834, 0.864056149038921],
  [['C1', 'C1', 'C1'], 197361, 0.8983163481276826]],
 6: [[['C1', 'C1', 'C1', 'C1', 'C1', 'C1'], 183397, 0.8347572382465259]],
 1: [[['C3'], 184440, 0.8395045994328656],
  [['C10'], 193969, 0.8828771830806414],
  [['C12'], 204486, 0.9307467876796192],
  [['C1'], 208918, 0.9509196589910833]]}

In [42]:
patterns_group = []
for k,v in sizes.items():
    if len(v) > 1 and k > 2:
        patterns_group.append(v)
patterns_group

[[[['C1', 'C10', 'C1', 'C1'], 176245, 0.80220390439734],
  [['C1', 'C1', 'C10', 'C1'], 176354, 0.8027000332269767],
  [['C10', 'C1', 'C1', 'C1'], 176457, 0.8031688522127801],
  [['C1', 'C1', 'C1', 'C10'], 176587, 0.803760565495833],
  [['C12', 'C1', 'C1', 'C12'], 177804, 0.8092999121533356],
  [['C1', 'C12', 'C1', 'C12'], 177829, 0.8094137031693074],
  [['C12', 'C1', 'C12', 'C1'], 177964, 0.8100281746555545],
  [['C1', 'C1', 'C12', 'C12'], 178167, 0.8109521577052449],
  [['C1', 'C12', 'C12', 'C1'], 178185, 0.8110340872367445],
  [['C12', 'C12', 'C1', 'C1'], 178306, 0.8115848357540475],
  [['C1', 'C12', 'C1', 'C1'], 184011, 0.8375519455987911],
  [['C1', 'C1', 'C12', 'C1'], 184102, 0.8379661448969281],
  [['C12', 'C1', 'C1', 'C1'], 184149, 0.8381800720069549],
  [['C1', 'C1', 'C1', 'C12'], 184416, 0.8393953600575328],
  [['C1', 'C1', 'C1', 'C1'], 192460, 0.8760087573565892]],
 [[['C1', 'C12', 'C1', 'C1', 'C1'], 178810, 0.8138788626360371],
  [['C1', 'C1', 'C12', 'C1', 'C1'], 178901, 0.8142930619341742],
  [['C1', 'C1', 'C1', 'C12', 'C1'], 179041, 0.8149302916236157],
  [['C12', 'C1', 'C1', 'C1', 'C1'], 179068, 0.8150531859208652],
  [['C1', 'C1', 'C1', 'C1', 'C12'], 179407, 0.8165961920974415],
  [['C1', 'C1', 'C1', 'C1', 'C1'], 187861, 0.8550757620584339]],
 [[['C1', 'C10', 'C1'], 181335, 0.8253717552491796],
  [['C10', 'C1', 'C1'], 181429, 0.8257996094692331],
  [['C1', 'C1', 'C10'], 181454, 0.8259134004852049],
  [['C12', 'C12', 'C12'], 181548, 0.8263412547052585],
  [['C12', 'C1', 'C12'], 184149, 0.8381800720069549],
  [['C1', 'C12', 'C12'], 184324, 0.8389766091187568],
  [['C12', 'C12', 'C1'], 184745, 0.8408928498277204],
  [['C1', 'C12', 'C1'], 189650, 0.8632186471613693],
  [['C12', 'C1', 'C1'], 189683, 0.863368851302452],
  [['C1', 'C1', 'C12'], 189834, 0.864056149038921],
  [['C1', 'C1', 'C1'], 197361, 0.8983163481276826]]]

# Calculus of DCG

In [43]:
def find_dcg(element_list):
    """
    Note: Extracted of https://github.com/dkaterenchuk/ranking_measures 

    Discounted Cumulative Gain (DCG)
    The definition of DCG can be found in this paper:
        Azzah Al-Maskari, Mark Sanderson, and Paul Clough. 2007.
        "The relationship between IR effectiveness measures and user satisfaction."

    Parameters:
        element_list - a list of ranks Ex: [5,4,2,2,1]

    Returns:
        score
    """
    score = 0.0
    for order, rank in enumerate(element_list):
        score += float(rank)/math.log2((order+2))
    #print(score)
    return score


def find_ndcg(reference, hypothesis):
    """
    Note: Extracted of https://github.com/dkaterenchuk/ranking_measures 
    
    Normalized Discounted Cumulative Gain (nDCG)
    Normalized version of DCG:
        nDCG = DCG(hypothesis)/DCG(reference)

    Parameters:
        reference   - a gold standard (perfect) ordering Ex: [5,4,3,2,1]
        hypothesis  - a proposed ordering Ex: [5,2,2,3,1]

    Returns:
        ndcg_score  - normalized score
    """

    return find_dcg(hypothesis)/find_dcg(reference)

In [44]:
import pandas as pd
import math

In [ ]:
#size_rank_alt = []

#for row in patterns_group[0]:
#    elements = {}
#    ranks = []
#    for item in row[0]:
#        if item not in elements:
#            elements[item] = 1
#        elif item in elements:
#            elements[item] = elements[item] + 1
#        ranks.append(elements[item])
#    size_rank_alt.append(pd.Series(row[0:len(row)] + [ranks] + [find_dcg(ranks)], index=["patterns","supp", "%supp", "rank", "dcg"]))
#result1 = pd.DataFrame(columns=['patterns', 'supp', "%supp", "rank", "dcg"]).append(size_rank_alt, ignore_index=True)
#result1['patterns'] = result1.patterns.apply(lambda x: literal_eval(str(x)))
#result1['rank'] = result.rank.apply(lambda x: literal_eval(str(x)))

In [65]:
numbered_pattern = []
for row in patterns_group[0]:
    item_numbered = []
    for item in row[0]:
        item_numbered.append(int(item.replace('C', '')))
    numbered_pattern.append(pd.Series(row[0:len(row)] + [str(item_numbered)], index=["patterns","supp", "%supp", "patterns_numbered"]))
result1 = pd.DataFrame(columns=['patterns', 'supp', "%supp", "patterns_numbered"]).append(numbered_pattern, ignore_index=True)
result1['patterns'] = result1.patterns.apply(lambda x: literal_eval(str(x)))
result1['patterns_numbered'] = result1.patterns_numbered.apply(lambda x: literal_eval(str(x)))

In [66]:
result1

              patterns    supp     %supp patterns_numbered
0    [C1, C10, C1, C1]  176245  0.802204     [1, 10, 1, 1]
1    [C1, C1, C10, C1]  176354  0.802700     [1, 1, 10, 1]
2    [C10, C1, C1, C1]  176457  0.803169     [10, 1, 1, 1]
3    [C1, C1, C1, C10]  176587  0.803761     [1, 1, 1, 10]
4   [C12, C1, C1, C12]  177804  0.809300    [12, 1, 1, 12]
5   [C1, C12, C1, C12]  177829  0.809414    [1, 12, 1, 12]
6   [C12, C1, C12, C1]  177964  0.810028    [12, 1, 12, 1]
7   [C1, C1, C12, C12]  178167  0.810952    [1, 1, 12, 12]
8   [C1, C12, C12, C1]  178185  0.811034    [1, 12, 12, 1]
9   [C12, C12, C1, C1]  178306  0.811585    [12, 12, 1, 1]
10   [C1, C12, C1, C1]  184011  0.837552     [1, 12, 1, 1]
11   [C1, C1, C12, C1]  184102  0.837966     [1, 1, 12, 1]
12   [C12, C1, C1, C1]  184149  0.838180     [12, 1, 1, 1]
13   [C1, C1, C1, C12]  184416  0.839395     [1, 1, 1, 12]
14    [C1, C1, C1, C1]  192460  0.876009      [1, 1, 1, 1]

In [47]:
import math
#example
find_ndcg([1,10,1,1],[1,1,10,1])

0.8569937515906176

In [ ]:
result1

In [ ]:
#size_rank_alt = []

#for row in patterns_group[1]:
#    elements = {}
#    ranks = []
#    for item in row[0]:
#        if item not in elements:
#            elements[item] = 1
#        elif item in elements:
#            elements[item] = elements[item] + 1
#        ranks.append(elements[item])
#    size_rank_alt.append(pd.Series(row[0:len(row)] + [ranks] + [find_dcg(ranks)], index=["patterns","supp", "%supp", "rank", "dcg"]))
#result2 = pd.DataFrame(columns=['patterns', 'supp', "%supp", "rank", "dcg"]).append(size_rank_alt, ignore_index=True)
#result2['patterns'] = result2.patterns.apply(lambda x: literal_eval(str(x)))
#result1['rank'] = result.rank.apply(lambda x: literal_eval(str(x)))

In [67]:
numbered_pattern = []
for row in patterns_group[1]:
    item_numbered = []
    for item in row[0]:
        item_numbered.append(int(item.replace('C', '')))
    numbered_pattern.append(pd.Series(row[0:len(row)] + [str(item_numbered)], index=["patterns","supp", "%supp", "patterns_numbered"]))
result2 = pd.DataFrame(columns=['patterns', 'supp', "%supp", "patterns_numbered"]).append(numbered_pattern, ignore_index=True)
result2['patterns'] = result2.patterns.apply(lambda x: literal_eval(str(x)))
result2['patterns_numbered'] = result2.patterns_numbered.apply(lambda x: literal_eval(str(x)))

In [68]:
result2

                patterns    supp     %supp patterns_numbered
0  [C1, C12, C1, C1, C1]  178810  0.813879  [1, 12, 1, 1, 1]
1  [C1, C1, C12, C1, C1]  178901  0.814293  [1, 1, 12, 1, 1]
2  [C1, C1, C1, C12, C1]  179041  0.814930  [1, 1, 1, 12, 1]
3  [C12, C1, C1, C1, C1]  179068  0.815053  [12, 1, 1, 1, 1]
4  [C1, C1, C1, C1, C12]  179407  0.816596  [1, 1, 1, 1, 12]
5   [C1, C1, C1, C1, C1]  187861  0.855076   [1, 1, 1, 1, 1]

In [ ]:
#size_rank_alt = []

#for row in patterns_group[2]:
#    elements = {}
#    ranks = []
#    for item in row[0]:
#        if item not in elements:
#            elements[item] = 1
#        elif item in elements:
#            elements[item] = elements[item] + 1
#        ranks.append(elements[item])
#    size_rank_alt.append(pd.Series(row[0:len(row)] + [ranks] + [find_dcg(ranks)], index=["patterns","supp", "%supp", "rank", "dcg"]))
#result3 = pd.DataFrame(columns=['patterns', 'supp', "%supp", "rank", "dcg"]).append(size_rank_alt, ignore_index=True)
#result3['patterns'] = result3.patterns.apply(lambda x: literal_eval(str(x)))
#result1['rank'] = result.rank.apply(lambda x: literal_eval(str(x)))

In [71]:
numbered_pattern = []
for row in patterns_group[2]:
    item_numbered = []
    for item in row[0]:
        item_numbered.append(int(item.replace('C', '')))
    numbered_pattern.append(pd.Series(row[0:len(row)] + [str(item_numbered)], index=["patterns","supp", "%supp", "patterns_numbered"]))
result3 = pd.DataFrame(columns=['patterns', 'supp', "%supp", "patterns_numbered"]).append(numbered_pattern, ignore_index=True)
result3['patterns'] = result3.patterns.apply(lambda x: literal_eval(str(x)))
result3['patterns_numbered'] = result3.patterns_numbered.apply(lambda x: literal_eval(str(x)))

In [72]:
result3

           patterns    supp     %supp patterns_numbered
0     [C1, C10, C1]  181335  0.825372        [1, 10, 1]
1     [C10, C1, C1]  181429  0.825800        [10, 1, 1]
2     [C1, C1, C10]  181454  0.825913        [1, 1, 10]
3   [C12, C12, C12]  181548  0.826341      [12, 12, 12]
4    [C12, C1, C12]  184149  0.838180       [12, 1, 12]
5    [C1, C12, C12]  184324  0.838977       [1, 12, 12]
6    [C12, C12, C1]  184745  0.840893       [12, 12, 1]
7     [C1, C12, C1]  189650  0.863219        [1, 12, 1]
8     [C12, C1, C1]  189683  0.863369        [12, 1, 1]
9     [C1, C1, C12]  189834  0.864056        [1, 1, 12]
10     [C1, C1, C1]  197361  0.898316         [1, 1, 1]